body { font: .8em Arial, Sans-Serif; line-height: 1.8em; 
       background: #333 url(images/wallpaper.png) ;
}
a {color: #6587E0; text-decoration: none;}
a:visited {color: #E9053A; text-decoration: none;}
a:hover {color: #333; text-decoration: underline;}

#marco{
    margin:auto;
    width:760px;

}
header {

    background: black;
    width: 760px;
    border-radius: 10px;
    padding-top: 5px;

}
header h1 {
    text-align: center;
}

.buscador{
    height: 35px;
    width: auto;
    float: right;
    padding-top: 4px;
}



/* width: 180px;  float: right; */ /*comandos*/

contenedor{
    float: left;
    width:760px;
    background: pink;
    padding: 5px;
    border-radius: 10px;
}

//.menu { float:right; color: black; width: 300px; background:white;   border-radius: 10px; margin: 10px;}
center {float: left; width: 750px; color: white;  background: #0B2161;  padding: 5px 5px;  border-radius: 10px;}
detalle {float: left; width: auto; background: #FF8000;  margin: 5px; padding: 5px 5px;  border-radius: 10px; text-align: left; }
pie {float: left; width: 750px; background: #FF8000;  margin-top: 5px; padding: 5px 5px;  border-radius: 10px;  text-align: center; 
     font-size: 20px; }


.caja{
    color: black;
    font-size: 18px;
    background: white;
    float: left;
    width: 177;
    height: 250;
    text-align: center;
    border-radius:10px;
    border: 5px;
    padding-top: 10px;
    margin: 3px;
}
.caja h1{
    text-align: center;
    font-size: 10px;
    color: black;
}

#cssmenu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
#cssmenu ul {
    background: #333333;
    height: 35px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#cssmenu li {
    float: left;
    padding: 0px;
}
#cssmenu li a {
    background: #333333 url('seperator.png') bottom right no-repeat;
    display: block;
    font-weight: normal;
    line-height: 35px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}
#cssmenu > ul > li > a {
    color: #cccccc;
}
#cssmenu ul ul a {
    color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
    background: #2580a2 url('hover.png') bottom center no-repeat;
    color: #FFFFFF;
    text-decoration: none;
}
#cssmenu li ul {
    background: #333333;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 225px;
    z-index: 200;
    /*top:1em;
          /*left:0;*/

}
#cssmenu li:hover ul {
    display: block;

}
#cssmenu li li {
    background: url('sub_sep.png') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;

}
#cssmenu li:hover li a {
    background: none;
}
#cssmenu li ul a {
    display: block;
    height: 35px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;

}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
    background: #2580a2 url('hover_sub.png') center left no-repeat;
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}
#cssmenu p {
    clear: left;
}